Blog user flow:https://drive.google.com/file/d/1DqqyC41EMFYUWOqeHTAzdVaJfKdrBexU/view?usp=sharing

Official Software Requirements Document for my Blog: https://docs.google.com/document/d/1ZRCgSM6oTPT3pZqzWl2O5OZQulNv2Lh8I2AXUhc20qk/edit?usp=sharing